<div
    title={{t 'messages.drop_image_here'}}
    class="image-drop-area"
    ondragenter={{action 'dragEnter'}}
    ondragover={{action 'dragOver'}}
    ondragleave={{action 'dragLeave'}}
    ondrop={{action 'drop'}}
>
    <input type="file" id="file-input" accept="image/*" onchange={{action 'inputChange'}} />
    <label for="file-input" class="button">Upload file...</label>
    {{yield}}
</div>