<div style="width: 200px"
    title={{t 'messages.drop_image_here'}}
    class="image-drop-area"
    ondragenter={{action 'dragEnter'}}
    ondragover={{action 'dragOver'}}
    ondragleave={{action 'dragLeave'}}
    ondrop={{action 'drop'}}
>
    <label class="dropimage">
        <input
            title="Drop image or click me"
            type="file"
            id="file-input"
            accept="image/*"
            onchange={{action 'inputChange'}} />
    </label>
    {{yield}}
</div>