<h2>
    {{product.title}}
</h2>

<div class="description">
    {{product.description}}
</div>

<div class="price">
    {{product.price}}
</div>


<button onClick={{action 'makeBid'}}>bid</button>

{{yield}}

