<div class="section">
    <h3 class="title">
        {{#if nolink}}
            {{product.title}}
        {{else}}
            {{link-to product.title 'index.product-details' product.id}}
        {{/if}}

        <div class="bids" title={{t 'index.product-details.bids'}}>
            ({{bidsNumber}})
        </div>
    </h3>

    {{#link-to 'index.product-details' product.id}}
    {{#swiper-container}}

        {{#each product.images as |image|}}
            <div class="swiper-slide">
                <img class="img" src={{image.base64}} width={{image.width}} height={{image.height}}>
            </div>
        {{/each}}

    {{/swiper-container}}
    {{/link-to}}

    <div class="description">
        {{product.description}}
    </div>

    <div class="price">
        {{price product.price}}
    </div>

    {{yield}}
</div>