<aside id="drawer" class="{{if opened 'opened'}}">
    <nav>
        <ul class="menu">
            <li class="leaf">
                {{link-to (t 'links.home') 'index'}}
            </li>
            <li class="leaf">
                {{link-to (t 'navigation.create_product') 'create-product'}}
            </li>
            <li class="leaf">
                {{link-to (t 'navigation.orders') 'orders'}}
            </li>
        </ul>
    </nav>
    {{#if opened}}
        <button {{action 'toggleDrawer'}}>
            close
        </button>
    {{/if}}
</aside>

<div class="overlay {{if opened 'visible'}}" {{action 'toggleDrawer'}}></div>

<main id="main-content">
    {{yield (hash toggleDrawer=(action 'toggleDrawer'))}}
</main>