{{link-to (t 'links.home') 'index' class="button"}}
<span>|</span>
{{link-to (t 'navigation.create_product') 'create-product' class="button"}}
{{link-to (t 'navigation.orders') 'orders' class="button"}}


{{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}} class="logout-button">
        {{t 'navigation.logout'}}
    </button>
{{/if}}

{{yield}}