{{#if session.isAuthenticated}}
    <button class="drawer-toggle-button icon-button" {{action 'toggleDrawer'}}>
        {{icons/icon-menu size=24}}
    </button>
    <nav>
        {{link-to (t 'links.home') 'index'}}

        {{link-to (t 'navigation.create_product') 'create-product'}}
        {{link-to (t 'navigation.orders') 'orders'}}

    </nav>

    {{yield}}

    <button {{action 'invalidateSession'}} class="logout-button icon-button">
        {{icon-image data=me _size=48}}
    </button>
{{/if}}
