<h1 class="title">
    {{model.title}}
</h1>

{{#each model.images as |image|}}
    <img src={{image.base64}} width={{image.width}} height={{image.height}}>
{{/each}}

<div class="description">
    {{model.description}}
</div>

<div class="price">
    {{model.price}}
</div>

<div class="buttons-wrapper">
    {{link-to (t 'product-details.buttons.bid') 'index.product-details.bid'
        class="bid button" }}
</div>

{{outlet}}