<div class="container product-details">
    <div class="back-button">
        <button
            {{action 'goBack'}}
            class="icon-button"
            title={{t 'product_details.buttons.goBack'}}
        >
            {{icons/icon-back size=24}}
        </button>
    </div>
    <h1 class="title">
        {{model.product.title}}

        <div class="bids">
            ({{bidsNumber}})
        </div>
    </h1>

    {{#swiper-container}}
        {{#each model.product.images as |image index|}}
            <div class="swiper-slide">
                <img class="img" src={{image.base64}} width={{image.width}} height={{image.height}}>
            </div>
        {{/each}}
    {{/swiper-container}}

    <div class="description">
        {{model.product.description}}
    </div>

    <div class="price">
        {{price model.product.price}}
    </div>

    {{#unless model.product.sold}}
        <div class="buttons-wrapper">
            {{#if isAuthor}}
                {{#if bidsNumber}}
                    <button {{action 'sell_product'}}>
                        {{t 'product_details.buttons.grant_to_last_bidder'}}
                    </button>
                {{/if}}
            {{else}}
            {{link-to (t 'product_details.buttons.bid') 'index.product-details.bid'
                class="bid button" }}
            {{/if}}
        </div>
    {{else}}
        <h3>
            {{t 'product_details.sold_message'}}
        </h3>
    {{/unless}}

    <div class="comments">
        <h3>{{t 'product_details.comments_title'}}</h3>
        {{#each model.comments as |comment|}}
            {{comment-list-block comment=comment}}
        {{else}}
            <div class="empty">
                {{t 'product_details.no_comments'}}
            </div>
        {{/each}}
    </div>


    {{#if showAddCommentBlock}}
        {{add-comment-block product=model.product toggleAddComment=(action 'toggleAddComment')}}
    {{else}}
        <button {{action 'toggleAddComment'}}>{{t 'product_details.add_comment_button'}}</button>
    {{/if}}

    {{outlet}}
</div>