{{#site-drawer drawerData as |opened|}}
    {{log opened}}
    {{site-header}}

    <div id="content-wrapper" class="main {{routeStyleNamespaceClassSet}}">
        {{outlet}}
    </div>

    {{site-footer}}
{{/site-drawer}}