<h1>
    {{t 'create-product.title'}}
</h1>

<form {{action 'submit' on="submit"}}>
    {{images-drop-area uploadImage=(action 'uploadImage')}}

    {{#each images as |image|}}
        <div class="image-wrapper">
            <img src={{image.base64}} width={{image.width}} height={{image.height}}>
        </div>
    {{/each}}

    <div class="input-group fluid">
        <label for="title">{{t 'create-product.form.title.label'}}</label>
        {{input id="title" value=model.title}}
    </div>

    <div class="input-group fluid">
        <label for="description">{{t 'create-product.form.description.label'}}</label>
        {{textarea id="description" value=model.description}}
    </div>

    <div class="input-group fluid">
        <label for="price">{{t 'create-product.form.price.label'}}</label>
        {{input id="price" type="number" step=".01" value=model.price}}
    </div>

    <div class="input-group fluid">
        <label for="preferablePrice">{{t 'create-product.form.preferablePrice.label'}}</label>
        {{input id="preferablePrice" type="number" step=".01" value=model.preferablePrice}}
    </div>

    <div class="input-group fluid">
        <label for="bidStep">{{t 'create-product.form.bidStep.label'}}</label>
        {{input id="bidStep" type="number" step="1" value=model.bidStep}}
    </div>

    <div class="button-group">
        <button type="submit">
            {{t 'buttons.submit'}}
        </button>
    </div>
</form>


{{outlet}}


