<h1>
    {{t 'create-product.title'}}
</h1>

<form {{action 'submit' on="submit"}}>
    <div class="form-line">
        {{input value=title}}
    </div>

    <div class="form-line">
        {{textarea value=description}}
    </div>

    <div class="buttons-wrapper">
        <button typ="submit">
            {{t 'buttons.submit'}}
        </button>
    </div>
</form>


{{outlet}}


