<div class="users-list">
{{#each model.users as |user|}}
    {{user-block data=user}}
{{/each}}
</div>

{{log model.products}}

{{#each model.products as |product|}}
    {{product-block product=product}}
{{else}}
    {{t 'messages.empty'}}
{{/each}}

{{outlet}}