<h1>
    {{ t 'login.title'}}
</h1>

<form {{action "submit" on="submit"}}>
    <div class="input-group fluid">
        <label for="username">{{t 'login.form.username.label'}}</label>
        {{input name="username" value=username}}
    </div>

    <div class="button-group">
        <button type="submit">
            {{t 'buttons.submit'}}
        </button>
    </div>
</form>