<h1 class="title">
    {{ t 'login.title'}}
</h1>

<form {{action "submit" on="submit"}} class="aligned">
    <div class="form-line upload-avatar">
        {{#if image}}
            <div class="image-wrapper">
                <img class="img" src={{image.base64}}>
            </div>
        {{else}}
            {{images-drop-area
                uploadImage=(action 'uploadImage')
                title=(t 'login.form.avatar.label')
            }}
        {{/if}}
    </div>

    <div class="form-line">
        <label for="username">{{t 'login.form.username.label'}}</label>
        {{input name="username" value=username}}
    </div>

    <div class="buttons-wrapper">
        <button type="submit">
            {{t 'buttons.submit'}}
        </button>
    </div>
</form>